*.pyc
*.pyo
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
downloads/*
eggs/*
fake-eggs/*
parts/*
develop-eggs/*
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
.metadata
.DS_Store
.project
.pydevproject
*.pyc
*.pyo
*.tmp*
*.LCK
*.lck
*~
*.bak
.coverage
*.pyd 
*.so